
.card {
  background: #161b22;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.projectImage {
  width: calc(100% - 32px);
  height: 210px;
  object-fit: cover;
  margin: 16px;
  border-radius: 12px;
}

.cardContent {
  padding: 0 18px 18px;
}

.cardContent h3 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1;
}

.category {
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 14px;
  color: #d9ff43;
  font-size: 18px;
  font-weight: 600;
}

.cardContent p {
  margin: 0;
  color: #8b949e;
  font-size: 15px;
  line-height: 1.6;
}

.techStack {
  display: flex;
  gap: 10px;
  margin-top: 22px;
}

.techStack img {
  width: 44px;
  height: 44px;
  padding: 8px;
  border-radius: 12px;
  background: #1d232d;
  object-fit: contain;
  transition: 0.3s;
}

.techStack img:hover {
  transform: translateY(-2px);
}
.techImage {
  width: 180px;      
  margin-top: 20px;
  display: block;
}