.navbar {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: rgb(19, 19, 19);
    margin-bottom: 30px;
    padding: 20px;
    box-sizing: border-box;
}
.navbar a{
    text-decoration: none;
    margin: 20px;
    color: white;
    font-family: DM sans-serif;
    font-family: DM Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;

}
.navbar a:hover{
    color: #D5FF3F;
} 
.link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar a.active {
  color: yellow;
}

.menuIcon {
    display: none;
    color: white;
    font-size: 32px;
    cursor: pointer;
}


.sidebar {
    position: fixed;
    top: 0;
    right: -280px;
    width: 250px;
    height: 100vh;
    background: rgb(19, 19, 19);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px;
    transition: right 0.3s ease;
    z-index: 1000;
}

.showSidebar {
    right: 0;
}

.closeIcon {
    color: white;
    font-size: 28px;
    cursor: pointer;
    align-self: flex-end;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

.sidebar a:hover,
.sidebar a.active {
    color: #D5FF3F;
}



@media (max-width: 992px) {
    .navbar {
        gap: 20px;
        padding: 15px;
    }

    .navbar a {
        margin: 10px;
        font-size: 14px;
    }
}



@media (max-width: 768px) {
    
    .navbar a {
        display: none;
    }

    
    .menuIcon {
        display: block;
    }

    
    .navbar {
        justify-content: flex-end;
    }
}



